:root {
  --clr-primary-green: #9fd3c7;
  --clr-primary-green-hover: #9fd3c79a;
  --clr-password: #f76b8a;

  --clr-body-bg: #142d4c;
  --clr-button-bg: #385170;

  --clr-secondary-white: #ececec;

  --ff-accent: "Inter", sans-serif;
  --ff-base: "Karla", sans-serif;

  --fw-small: 400;
  --fw-regular: 500;
  --fw-bold: 800;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}

html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/

body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}

body {
  margin: 0;
  background-color: var(--clr-body-bg);
  color: var(--clr-secondary-white);
  flex-shrink: 0;
}

.container {
  background-color: var(--clr-primary-bg);
  width: 500px;
  height: 600px;
  border-radius: 20px;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 50px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lock {
  display: flex;
  justify-content: center;
}

.lock-icon {
  filter: brightness(0) invert(1);

  width: 40px;
  height: 40px;
  margin-top: -30px;
  margin-bottom: 20px;

  opacity: 0.1;
}

h1 {
  font-family: var(--ff-base);
  font-size: 60px;
  line-height: 50px;
  font-weight: var(--fw-bold);
  margin-top: -60px;
  text-align: center;
  margin-bottom: 45px;
}

.green-text {
  color: var(--clr-primary-green);
}

.button {
  display: inline-flex;
  padding: 9px 17px 9px 15px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: none;
  cursor: pointer;

  border-radius: 6px;
  background: var(--clr-button-bg);

  /* shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

  color: var(--white, #fff);
  /* text-base/leading-6/font-medium */
  font-family: var(--ff-accent);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */

  margin-bottom: 20px;
}

.button:hover {
  background: var(--clr-primary-green-hover);
}

hr {
  width: 400px;
  height: 1px;
  border: 0;
  border-top: 2px solid var(--clr-button-bg);
  margin-top: 10px;
  margin-bottom: 25px;
}

h2 {
  color: var(--clr-primary-green);

  font-family: var(--ff-accent);
  font-size: 16px;
  font-weight: var(--fw-small);
  text-align: center;
  margin-bottom: 20px;
}

.lenght-button {
  padding: 0;
  width: 45px;
  height: 45px;
  color: var(--clr-secondary-white);
  background: var(--clr-button-bg);
  border: none;
  border-radius: 50px;
  font-family: var(--ff-accent);
  cursor: pointer;
}

.lenght-button:hover {
  background: var(--clr-primary-green-hover);
}

.lenght {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.password {
  width: 400px;
  height: 45px;
  flex-shrink: 0;

  border: none;
  border-radius: 6px;
  background: var(--clr-button-bg);

  color: var(--clr-password);

  text-align: center;
  font-family: var(--ff-accent);
  font-size: 16px;
  padding-top: 6px;
  

  font-weight: var(--fw-regular);
  line-height: 32px; /* 200% */
}

.bot {
  display: grid;
  justify-content: center;
  gap: 20px;
}

#copy-text-btn1 {
  width: inherit;
  height: inherit;
  background: var(--clr-button-bg);
  box-shadow: -10px 0px 0px 0px var(--clr-button-bg);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  position: absolute;
  right: 55px;
  top: 405px;
}

#copy-text-btn2 {
  width: inherit;
  height: inherit;
  background: var(--clr-button-bg);
  box-shadow: -10px 0px 0px 0px var(--clr-button-bg);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  position: absolute;
  right: 55px;
  top: 470px;
}

.copy-btn {
  filter: brightness(0) invert(1);
  width: 25px;
  height: 25px;
  opacity: 0.6;
}

.copy-btn:hover {
  opacity: 1;
}

.copy1 {
  display: flex;
}

.copy2 {
  display: flex;
}

/* COPIED! msg */

/* .copied-msg1 {
  display: none;
}

.copied-msg2 {
  margin-left: 175px;
  display: none;
} */

/* RESPONSIVITY */

@media (max-width: 500px) {
  body {
    transform: scale(0.8);
  }
}

@media (max-width: 400px) {
  body {
    transform: scale(0.75);
  }
}

@media (max-width: 380px) {
  body {
    transform: scale(0.7);
  }
}

@media (max-width: 350px) {
  body {
    transform: scale(0.5);
  }
}
